{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h1 class="page__title" itemprop="headline">
      {% if post.link %}
        <a href="{{ post.link }}">{{ title }}</a> <a href="{{ post.url | relative_url }}" rel="permalink"><i class="fas fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
      {% else %}
        <a href="{{ post.url | relative_url }}" rel="permalink">{{ title }}</a>
      {% endif %}
    </h1>
    <p class="page__meta">
      {% if post.last_modified_at %}
        <span class="page__date"><strong><i class="fa fa-fw fa-calendar" aria-hidden="true"></i></strong> <time datetime="{{ page.last_modified_at | date_to_xmlschema }}">{{ post.last_modified_at | date_to_long_string }}</time></span>
      {% elsif post.date %}
        <span class="page__date"><strong><i class="fa fa-fw fa-calendar" aria-hidden="true"></i></strong> <time datetime="{{ page.date | date_to_xmlschema }}">{{ post.date | date_to_long_string }}</time></span>
      {% endif %}
      {% include post__taxonomy.html %}
      {% if post.read_time %}
        <span class="page__read_time"><i class="fa fa-clock-o" aria-hidden="true"></i> {% include read-time.html %}</span>
      {% endif %}
    </p>
    
    <section class="page__content" itemprop="text">
      {{ post.content }}
      {% if post.link %}<div><a href="{{ post.link }}" class="btn">{{ site.data.ui-text[site.locale].ext_link_label | default: "Direct Link" }}</a></div>{% endif %}
    </section>

    {% if post.share %}{% include social-share.html %}{% endif %}
  </article>