---
layout: default
---

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}
{% elsif page.header.video.id and page.header.video.provider %}
  {% include page__hero_video.html %}
{% endif %}

<div id="main" role="main">
  {% include sidebar.html %}

  <div class="archive home">
    {% for post in paginator.posts %}
      {% include posts-single.html %}
    {% endfor %}

    {% include paginator.html %}
  </div>
</div>
